configuration {
    icon-theme:          "WhiteSur-dark";
    drun-display-format: "{icon} {name}";
    threads:             0;
    scroll-method:       0;
    disable-history:     false;
    fullscreen:          false;
    hide-scrollbar:      true;
    run-command: "zsh -i -c '{cmd}'";
    font: "Fira Sans 25";
}

@import "/themes/center.rasi"
