configuration{
    modi: "drun";
    width: 40;
    columns: 1;
    lines: 5;
    font: "Iosevka Nerd Font Mono 20";
    show-icons: true;
    icon-theme: "Papirus-Dark";
    terminal: "alacritty";
    drun-display-format: "{icon} {name}";
    display-drun: "Open";
    location: 0;
    separator-style: "solid";
    disable-history: true;
    hide-scrollbar: true;
    theme: "~/.config/rofi/simple.rasi";
}
